{% extends 'base.html' %}

{% block content %}
{% load static %}

  <div class="home_screen">
    <video src="{% static 'video/initial.mp4' %}" width="100%" class="video" autoplay muted></video>
    <a class="play_button" href="#">Play</a>
    <a class="about_button" href="#">About</a>

    <div class="tutorial_card p-3 game-font text-maroon d-flex row align-items-center" style="background-image: url(" {%
      static 'images/retro-bg.jpg' %}");">
      <div class="col-12">
        <p class="text-center">
          Before We Continue
          <br>
          Want to have a quick tutorial?
          <br>
          <br>
          <br>
          (It will take only 1 minute)
        </p>
      </div>
      <div class="col-12">
        <dir class="justify-content-between-special">
          <a class="px-5 py-3" href="#">Continue</a>
          <a class="px-5 py-3" href="#" id="skipBtn">Skip</a>
        </dir>
      </div>
    </div>
  </div>

  <script src="{% static 'js/app.js' %}"></script>


{% endblock %}