{% extends 'base.html' %}
{% block content %}
{% load static %}
  <div class="home_screen">
    <video src="{% static 'video/' %}" width="100%" class="video" autoplay muted></video>

    <dir class="score-board">
      <p class="fs-1">CPU</p>
      {% for i in choice_list %}
      <p id="choice_{{ forloop.counter }}" style="display: none;" class="{{ i }}">{{ i }}</p>
      {% endfor %}
    </dir>
  </div>


  <script>
    console.log("THIS IS IT");
    var count = 1;
    var video = document.querySelector('.video');

    // Define an array of video sources and durations
    var videoSequence = [
      {% for i in choice_list %}

    { src: "/static/video/{{ i }}.mp4", duration: 10000 },   // 10 seconds

    {% endfor %}
    ];

    videoSequence[10] = { src: "/static/video/finish.mp4", duration: 10000 };

    console.log("Video Sequence: ", videoSequence);

    function playNextVideo() {
      var currentVideo = videoSequence[count-1];
      var cpuMoves = document.getElementById("choice_" + count);

      // Set the video source and loop
      video.src = currentVideo.src;
      setTimeout(function () {
        cpuMoves.style.display = 'block';
      }, currentVideo.duration);
      setTimeout(playNextVideo, currentVideo.duration);
      
      console.log("Current Video: " + currentVideo.src);
      console.log("Choices: " + cpuMoves.innerHTML);
      console.log("Count: " + count);
      // Increment count for the next iteration
      count++;

      // Schedule the next video after the specified duration
    }

    // Start the sequence
    playNextVideo();  
  </script>
{% endblock %}